.Goods_content {
  width: 100%;
  background: #dbdada;
  height: auto;
}
.Goods_content .Goods_Header {
  position: fixed;
  z-index: 2222;
  width: 100%;
  height: 44px;
  top: 0;
  left: 0;
  padding: 0 14px;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Goods_content .Goods_Header a {
  height: 44px;
}
.Goods_content .Goods_Header a .Header_icon {
  line-height: 44px;
  font-size: 17px;
  color: #01af63;
}
.Goods_content .Goods_Header a .Header_logo {
  font-size: 18px;
  color: #524e4e;
  text-align: center;
  line-height: 44px;
}
.Goods_content .Goods_Header a .Header_logo:before {
  content: "\0020";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  background: url(../images/header_logo.png) no-repeat;
  background-size: 100%;
  vertical-align: -2px;
}
.Goods_content .Goods_Main {
  width: 100%;
  height: 3000px;
}
.Goods_content .Goods_Main .Main_Detail {
  width: 100%;
  height: 412px;
  background: white;
}
.Goods_content .Goods_Main .Main_Detail .MD_img {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Goods_content .Goods_Main .Main_Detail .MD_img .To_Info {
  z-index: 100;
  bottom: 10px;
  color: white;
  font-size: 16px;
}
.Goods_content .Goods_Main .Main_Detail .MD_img .MD_Order {
  position: absolute;
  right: 10px;
}
.Goods_content .Goods_Main .Main_Detail .MD_img .MD_Type {
  position: absolute;
  left: 10px;
}
.Goods_content .Goods_Main .Main_Detail .MD_info {
  padding: 4% 4%;
}
.Goods_content .Goods_Main .Main_Detail .MD_info h1 {
  font-size: 16px;
  color: #000;
}
.Goods_content .Goods_Main .Main_Detail .MD_info h2 {
  font-size: 14px;
  color: #404140;
  margin-top: 8px;
}
.Goods_content .Goods_Main .Main_Detail .MD_Price {
  color: #ff811a;
  font-weight: 800px;
  font-size: 14px;
  margin-left: 4%;
  margin-top: -10px;
  border-bottom: 1px solid #ccc;
}
.Goods_content .Goods_Main .Main_Detail .MD_Price em {
  font-size: 22px;
}
.Goods_content .Goods_Main .Main_Detail .MD_tips {
  padding-left: 4%;
  color: #313131;
  font-size: 14px;
}
.Goods_content .Goods_Main .Main_tourday {
  width: 100%;
  height: 68px;
  background: white;
  padding: 4%;
  font-size: 14px;
  margin: 6px 0;
  position: relative;
}
.Goods_content .Goods_Main .Main_tourday .Right_Date {
  font-size: 18px;
  position: absolute;
  right: 10px;
}
.Goods_content .Goods_Main .Main_Navwarp {
  width: 100%;
  height: 44px;
  background: white;
  margin-bottom: 2px;
}
.Goods_content .Goods_Main .Main_Navwarp .Nav_Container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 44px;
}
.Goods_content .Goods_Main .Main_Navwarp .Nav_Container .Nav_Active {
  width: 20%;
  height: 44px;
  border-bottom: 2px solid #195;
  color: #195;
}
.Goods_content .Goods_Main .Main_DetailInfo {
  width: 100%;
  height: auto;
  background: #79e090;
}
.Goods_content .Goods_Main .Main_DetailInfo ul {
  height: 140px;
  padding: 15px;
  background: #fff;
}
.Goods_content .Goods_Main .Main_DetailInfo .Xingchen {
  background: white;
}
.Goods_content .Goods_Main .Main_DetailInfo .Xingchen .Detail-Dead {
  width: 100%;
  height: 22px;
  font-weight: 700;
  padding-left: 40%;
  color: black;
}
.Goods_content .Goods_Main .Main_DetailInfo .Xingchen .Detail-Dead2 {
  width: 100%;
  height: 22px;
  color: black;
  margin: 12px 0 0 10px;
}
.Goods_content .Goods_Main .Main_DetailInfo .Xingchen .od {
  background: #ece7e7;
  width: 90%;
  height: 30px;
  margin-left: 3%;
}
.Goods_content .Goods_Main .Main_DetailInfo .Xingchen .od .bt {
  height: 24px;
  color: #666;
  width: 42px;
  font-size: 14px;
  padding: 0px 12px;
}
.Goods_content .Goods_Main .Main_DetailInfo .Xingchen .od .city-item {
  margin-right: 8px;
  font-size: 14px;
  color: black;
}
.Goods_content
  .Goods_Main
  .Main_DetailInfo
  .Xingchen
  .Cankao_Route
  div:nth-child(1)
  p {
  margin-left: 10px;
}
.Goods_content
  .Goods_Main
  .Main_DetailInfo
  .Xingchen
  .Cankao_Route
  div:nth-child(2),
.Goods_content
  .Goods_Main
  .Main_DetailInfo
  .Xingchen
  .Cankao_Route
  div:nth-child(4) {
  margin: 12px 10px;
  font-size: 18px;
  color: block;
}
.Goods_content
  .Goods_Main
  .Main_DetailInfo
  .Xingchen
  .Cankao_Route
  div:nth-child(2)
  .flight-city,
.Goods_content
  .Goods_Main
  .Main_DetailInfo
  .Xingchen
  .Cankao_Route
  div:nth-child(4)
  .flight-city {
  font-weight: 600;
  color: block;
  padding-right: 15px;
}
.Goods_content
  .Goods_Main
  .Main_DetailInfo
  .Xingchen
  .Cankao_Route
  div:nth-child(2)
  .flight-num,
.Goods_content
  .Goods_Main
  .Main_DetailInfo
  .Xingchen
  .Cankao_Route
  div:nth-child(4)
  .flight-num {
  color: #666;
  font-size: 14px;
}
.Goods_content
  .Goods_Main
  .Main_DetailInfo
  .Xingchen
  .Cankao_Route
  div:nth-child(3),
.Goods_content
  .Goods_Main
  .Main_DetailInfo
  .Xingchen
  .Cankao_Route
  div:nth-child(5) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Goods_content
  .Goods_Main
  .Main_DetailInfo
  .Xingchen
  .Cankao_Route
  div:nth-child(3)
  .time,
.Goods_content
  .Goods_Main
  .Main_DetailInfo
  .Xingchen
  .Cankao_Route
  div:nth-child(5)
  .time {
  font-size: 22px;
  color: block;
}
.Goods_content .Goods_Main .Main_xingcheng {
  width: 100%;
}
.Goods_content .Goods_Main .Main_xingcheng img {
  width: 100%;
}
.Goods_content .Goods_Footer {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 44px;
  background: #fff;
  z-index: 1000;
}
.Goods_content .Goods_Footer span {
  width: 120px;
  height: 50px;
  font-size: 16px;
  text-align: center;
  border-right: 1px solid #ccc;
}
.Goods_content .Goods_Footer .like_order {
  line-height: 50px;
  text-align: center;
  width: 150px;
  background: #f50;
}
