.AddUser{
    padding: 2vw 0 0 2vw;
}
.btn {
    width: 20%;
    height: 2.2rem;
    line-height: 2.2rem;
    text-align: center;
    color: #fff;
    background: #01af63;
    border: 1px solid #01af63;
    font-size: .85rem;
    margin-top: 2rem;
    border-radius: 2px;
}
.userspan{
    width: 5%;
}
.usertext{
    height: 3rem;
}
.text {
    border: none;
    height: 1.7rem;
    padding: .8rem 0;
    width:15%;
    font-size: .7rem;
    border: 1px solid rgb(170, 170, 170);
   
}
